@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Roboto Thin Italic';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/Roboto/RobotoThinItalic/roboto-thin-italic.woff) format("woff"), url(/fonts/Roboto/RobotoThinItalic/roboto-thin-italic.ttf) format("truetype");
}
@font-face {
  font-family: 'Roboto Thin';
  font-weight: 400;
  src: url(/fonts/Roboto-Thin.woff) format("woff"), url(/fonts/Roboto-Thin.ttf) format("truetype");
}
/* line 22, ../sass/screen.scss */
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/* line 32, ../sass/screen.scss */
.dws-menu {
  max-width: 768px;
  margin: 0 auto;
  height: 80px;
}

/* line 38, ../sass/screen.scss */
.dws-menu * {
  margin: 0;
  padding: 0;
}

/* line 43, ../sass/screen.scss */
.dws-menu ul,
.dws-menu ol {
  list-style: none;
}

/* line 48, ../sass/screen.scss */
.dws-menu > ul {
  display: flex;
  justify-content: center;
  padding-top: 34px;
}

/* line 54, ../sass/screen.scss */
.dws-menu > ul li a {
  display: block;
  background: #fff;
  font-size: 14px;
  color: #454547;
  text-decoration: none;
  font-family: 'Roboto Light', arial;
}

/* line 63, ../sass/screen.scss */
.dws-menu > ul li {
  position: relative;
}

/* line 67, ../sass/screen.scss */
.dws-menu > ul li {
  position: relative;
}

/* line 71, ../sass/screen.scss */
.dws-menu li a:hover {
  background: #fff;
  color: #151515;
  transition: all 0.3s ease;
}

/* line 77, ../sass/screen.scss */
.dws-menu li .is_active {
  background: #fff;
  color: #151515;
}

/* line 82, ../sass/screen.scss */
.dws-menu > ul li a {
  display: block;
  background: #fff;
  padding: 0px 37px 0px 37px;
  font-size: 14px;
  color: #345996;
  text-decoration: none;
  transition: all 0.3s ease;
  letter-spacing: 0px;
}

/* line 93, ../sass/screen.scss */
.dws-menu [type="checkbox"] {
  display: none;
}

/* line 97, ../sass/screen.scss */
.dws-menu label.toggleMenu {
  background: #C9C9C9;
  display: block;
}

/* line 102, ../sass/screen.scss */
.dws-menu label.toggleMenu {
  background: #C9C9C9;
  display: none;
  padding: 15px 40px;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}

/* line 112, ../sass/screen.scss */
.dws-menu label.toggleMenu .fa {
  position: absolute;
  top: 15px;
  left: 12px;
  font-size: 18px;
}

/* line 119, ../sass/screen.scss */
.dws-menu [type="checkbox"],
.dws-menu label.toggleSubmenu {
  display: none;
}

/* line 124, ../sass/screen.scss */
.img-Mountains {
  background-image: url(../img/Layer-1.png);
  background-size: 100%;
  background-position: 50% 100%;
  height: 160px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* line 133, ../sass/screen.scss */
.questionnaire {
  text-align: center;
  font-size: 70px;
}

/* line 138, ../sass/screen.scss */
.content {
  margin-top: -39px;
  max-width: 768px;
  margin: -39px auto 0;
  text-align: center;
    /*.cool-input{
		border: 1px solid #E6E6E6;
		height: 58px;
		width: 518px;
		margin-bottom: 25px;
		&:focus{
			border: 1px solid #345896;
			text-align: center;
			
			&::-webkit-input-placeholder{
				font-size: 14px;
				vertical-align: top;
				margin-top: -20px;
							
			}
		}
	}*/
}
/* line 143, ../sass/screen.scss */
.content .icon1 {
  margin-top: 65px;
}
/* line 146, ../sass/screen.scss */
.content .info {
  font-size: 30px;
  color: #151515;
  font-family: 'Roboto Light', arial;
  margin-top: 24px;
}
/* line 169, ../sass/screen.scss */
.content .name {
  margin-top: 48px;
}
/* line 172, ../sass/screen.scss */
.content .sel {
  font-size: 24px;
  color: #C9C9C9;
  /*text-align-last: center;*/
}

/* line 180, ../sass/screen.scss */
.content input::-webkit-input-placeholder {
  font-size: 24px;
  color: #C9C9C9;
  text-align: center;
}

/* line 186, ../sass/screen.scss */
.content input::-moz-placeholder {
  font-size: 24px;
  color: #C9C9C9;
  text-align: center;
}

/* line 192, ../sass/screen.scss */
.content input:-ms-input-placeholder {
  font-size: 24px;
  color: #C9C9C9;
  text-align: center;
}

/* line 200, ../sass/screen.scss */
.cool-input {
  box-sizing: border-box;
  border: 1px solid #E6E6E6;
  border-radius: 7px;
  height: 58px;
  width: 518px;
  position: relative;
  font-size: 24px;
  margin: 50px auto 25px;
}
/* line 209, ../sass/screen.scss */
.cool-input:focus {
  border: none;
}

/* line 214, ../sass/screen.scss */
.cool-input__input {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background: none;
  width: 100%;
  position: relative;
  z-index: 2;
  font-size: 24px;
  text-align: center;
  height: 100%;
}

/* line 227, ../sass/screen.scss */
.cool-input__input:focus {
  outline: none;
  margin-top: 0px;
  font-size: 20px;
  color: #151515;
  border: 1px solid #345896;
  padding-bottom: 0;
  padding-top: 20px;
}

/* line 237, ../sass/screen.scss */
.cool-input__placeholder {
  box-sizing: border-box;
  border: none;
  background: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding-left: 5px;
  left: 0;
  top: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  color: #D1D1D1;
  transition: all 0.2s ease;
  font-family: 'Roboto Regular', arial;
}

/* line 255, ../sass/screen.scss */
.test {
  font-size: 14px;
  top: 0;
  margin-top: 5px;
}

/* line 262, ../sass/screen.scss */
.jq-selectbox__trigger-arrow {
  background-image: url(../img/arr-bottom.png);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 25px;
  right: 17px;
  width: 12px;
  height: 12px;
  border: none;
}

/* line 275, ../sass/screen.scss */
.bg_arrow_top {
  background-image: url(../img/arr-top.png);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* line 282, ../sass/screen.scss */
.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 100%;
  border-left: none;
}

/* line 291, ../sass/screen.scss */
.sel {
  /*-webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none !important;
  background-image: url(../img/arr-top.png);
  background-repeat: no-repeat;    
  background-position: 95% 50%;    
  height: 100%;
  width: 320px;
  max-height: 360px;
  overflow-y: scroll;
  border-radius: 5px;
  outline: none;
  border: 1px solid #E6E6E6;
  &:focus{
  	border: 1px solid #345896 !important;
  }
  option{
  	color: #345996;
  	
  }*/
  width: 320px;
}

/* line 316, ../sass/screen.scss */
select::-ms-expand {
  display: none;
}

/* line 320, ../sass/screen.scss */
.jq-selectbox__select {
  height: 56px;
  padding: 0;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #fff;
  color: #333;
}

/* line 330, ../sass/screen.scss */
.jq-selectbox__select-text {
  font-size: 24px;
  font-family: "Roboto Light", arial;
  padding-top: 12px;
  color: #C9C9C9;
  letter-spacing: 0.3px;
}

/* line 338, ../sass/screen.scss */
.jq-selectbox__select:hover {
  background: #fff;
}

/* line 342, ../sass/screen.scss */
.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  color: #345996;
  font-size: 20px;
}

/* line 349, ../sass/screen.scss */
.content .sel {
  font-size: 20px;
  padding: 0;
}

/* line 354, ../sass/screen.scss */
.jq-selectbox__dropdown ul::-webkit-scrollbar {
  width: 4px;
  height: 0em;
}

/* line 359, ../sass/screen.scss */
.jq-selectbox__dropdown ul::-webkit-scrollbar-button {
  background: #fff;
}

/* line 363, ../sass/screen.scss */
.jq-selectbox__dropdown ul::-webkit-scrollbar-track-piece {
  background: #fff;
}

/* line 367, ../sass/screen.scss */
.jq-selectbox__dropdown ul::-webkit-scrollbar-thumb {
  background: #DADADA;
}

/* line 371, ../sass/screen.scss */
.jq-selectbox ul li:nth-child(1) {
  display: none;
}

/* line 376, ../sass/screen.scss */
.city,
.skype,
.e-mail {
  margin-top: 28px;
}

/* line 382, ../sass/screen.scss */
.icon2 {
  margin-top: 48px;
}

/* line 386, ../sass/screen.scss */
.practice {
  margin: 50px 0 0 0;
}

/* line 390, ../sass/screen.scss */
.item_practice {
  width: 279px;
  padding-right: 0px;
  text-align: left;
  float: left;
}

/* line 397, ../sass/screen.scss */
.item_practice:nth-child(3) {
  padding-right: 0;
  width: 210px;
}

/* line 402, ../sass/screen.scss */
label input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

/* line 407, ../sass/screen.scss */
label input[type="checkbox"] ~ span {
  position: relative;
  display: inline-block;
  padding: 1px 0 3px 30px;
}

/* line 413, ../sass/screen.scss */
label input[type="checkbox"]:checked ~ span:before {
  /* ╨▓╤Л╨▒╤А╨░╨╜*/
  content: "\2714";
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #345896;
  color: #fff;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 0%;
  left: -2px;
  top: -1px;
  box-sizing: border-box;
  transition: all 500ms ease-in-out;
}

/* line 434, ../sass/screen.scss */
label input[type="checkbox"] {
  color: #fff;
}

/* line 438, ../sass/screen.scss */
label input[type="checkbox"] ~ span:before {
  border: 1px solid #345896;
  background: #fff;
  content: "";
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  color: #000;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 0%;
  left: -2px;
  top: -1px;
  box-sizing: border-box;
  transition: all 500ms ease-in-out;
}

/* line 460, ../sass/screen.scss */
.checkbox {
  margin-bottom: 15px;
}

/* line 464, ../sass/screen.scss */
.checkbox span:hover:before {
  content: "";
  background: #E7EFFF;
}

/* line 469, ../sass/screen.scss */
.checkbox span {
  font-size: 16px;
  font-family: "Roboto Light", arial;
}

/* line 474, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 478, ../sass/screen.scss */
.icon3 {
  margin-top: 118px;
}

/* line 482, ../sass/screen.scss */
#slider {
  clear: left;
  width: 100%;
  margin: 0px;
}

/* line 489, ../sass/screen.scss */
#slider .ui-slider-range {
  background-image: url(../img/gradient.png);
  z-index: 3;
}

/* line 494, ../sass/screen.scss */
#slider .ui-slider-handle {
  border: none;
  outline: none;
}

/* line 500, ../sass/screen.scss */
.ui-widget.ui-widget-content {
  border: none;
  background-image: url(../img/gray.png);
}

/* line 505, ../sass/screen.scss */
.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: transparent;
  color: #222222;
  font-weight: bold;
}

/* line 512, ../sass/screen.scss */
.ui-state-default,
.ui-widget-content .ui-state-default {
  border: none;
  background: transparent;
}

/* line 518, ../sass/screen.scss */
.ui-slider-horizontal .ui-state-default {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 16px;
  margin-left: -12px;
  z-index: 200;
  background-image: url(../img/cursor.png);
  background-size: cover;
}

/* line 529, ../sass/screen.scss */
.js_item {
  width: 25%;
  height: 38px;
  float: left;
  font-size: 13px;
  font-family: "Roboto Light", arial;
  text-align: left;
  display: table;
}
/* line 537, ../sass/screen.scss */
.js_item p {
  padding: 0 15px 0 0;
  line-height: 1.5;
  display: table-cell;
  vertical-align: bottom;
}

/* line 545, ../sass/screen.scss */
.practice_js {
  margin: 46px 0 98px;
}

/* line 549, ../sass/screen.scss */
.icon4 {
  margin-top: 102px;
}

/* line 553, ../sass/screen.scss */
.vacancy {
  font-size: 16px;
  font-family: "Roboto Light", arial;
  padding: 0 132px;
  margin-top: 16px;
  line-height: 1.4;
}

/* line 561, ../sass/screen.scss */
textarea {
  width: 510px;
  margin-top: 38px;
  height: 174px;
  font-size: 20px;
  font-family: 'Roboto Regular', arial;
}

/* line 569, ../sass/screen.scss */
textarea::-webkit-input-placeholder {
  font-size: 20px;
  color: #C9C9C9;
  font-family: 'Roboto Regular', arial;
  padding: 15px;
}

/* line 576, ../sass/screen.scss */
.butt_blue {
  background: #345896;
  width: 116px;
  height: 50px;
  border-radius: 10px;
  margin: 67px auto 73px;
}
/* line 582, ../sass/screen.scss */
.butt_blue p {
  color: #fff;
  text-decoration: none;
  padding-top: 17px;
}

/* line 589, ../sass/screen.scss */
.butt_blue:hover {
  background-color: #3458D5;
}

/* line 593, ../sass/screen.scss */
.butt_blue:active {
  margin: 68px auto 72px;
  box-shadow: 1px 1px 4px 1px black;
  -webkit-box-shadow: 1px 1px 4px 1px black;
  -moz-box-shadow: 1px 1px 4px 1px black;
}

/* line 600, ../sass/screen.scss */
.content a {
  text-decoration: none;
}

/* line 604, ../sass/screen.scss */
#result {
  display: none;
}

@media (max-width: 768px) {
  /* line 610, ../sass/screen.scss */
  .dws-menu {
    overflow: hidden;
  }

  /* line 613, ../sass/screen.scss */
  .dws-menu {
    height: auto;
  }

  /* line 616, ../sass/screen.scss */
  .dws-menu ul {
    display: none;
  }

  /* line 619, ../sass/screen.scss */
  .dws-menu label.toggleMenu {
    display: block;
  }

  /* line 622, ../sass/screen.scss */
  input.toggleMenu:checked + label.toggleMenu {
    background: #000;
    color: #fff;
  }

    /*input.toggleMenu:checked ~ ul{
 		display: block;
	}*/
  /* line 629, ../sass/screen.scss */
  .dws-menu label.toggleSubmenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;
  }

  /* line 638, ../sass/screen.scss */
  input.toggleSubmenu:checked ~ a {
    background: #454547;
    color: #fff;
  }

  /* line 642, ../sass/screen.scss */
  input.toggleSubmenu:checked ~ .is_active {
    background: #454547;
    color: #fff;
  }

  /* line 646, ../sass/screen.scss */
  input.toggleMenu:checked ~ ul,
  input.toggleSubmenu:checked ~ ul {
    display: block;
    position: absolute;
    width: 50%;
  }

  /* line 652, ../sass/screen.scss */
  .dws-menu > ul li {
    position: relative;
    padding: 10px;
    background: #DBDCDF;
    border-radius: 5px;
    border: 1px solid #000;
  }
  /* line 658, ../sass/screen.scss */
  .dws-menu > ul li a {
    background: #DBDCDF;
    text-align: center;
  }

  /* line 663, ../sass/screen.scss */
  .dws-menu li .is_active {
    background: #DBDCDF;
    color: #345996;
  }

    /*.dws-menu > ul li a:hover{
		background: #151515;
		color: #fff; 
	}  */
  /* line 671, ../sass/screen.scss */
  .dws-menu > ul li:hover {
    background: #DBDCEF;
  }

  /* line 674, ../sass/screen.scss */
  .dws-menu > ul {
    padding-top: 0px;
  }

  /* line 677, ../sass/screen.scss */
  .dws-menu li a:hover {
    background: #DBDCEF;
  }

  /* line 680, ../sass/screen.scss */
  .img-Mountains {
    background-position: 50% 0%;
  }

  /* line 683, ../sass/screen.scss */
  .cool-input {
    width: 100%;
  }

  /* line 686, ../sass/screen.scss */
  textarea {
    width: 90%;
    margin-top: 70px;
  }

  /* line 690, ../sass/screen.scss */
  .vacancy {
    padding: 0 10px;
  }

  /* line 693, ../sass/screen.scss */
  .js_item p {
    padding: 0 0px 0 0;
    line-height: 1.0;
    display: table-cell;
    vertical-align: bottom;
  }

  /* line 699, ../sass/screen.scss */
  .js_item {
    height: 66px;
    width: 24%;
    text-align: center;
  }

  /* line 704, ../sass/screen.scss */
  .practice {
    margin-left: 10px;
  }

  /* line 707, ../sass/screen.scss */
  #result {
    display: none;
  }
}
@media (max-width: 768px) and (min-width: 480px) {
  /* line 712, ../sass/screen.scss */
  .item_practice {
    width: 33%;
  }

  /* line 715, ../sass/screen.scss */
  textarea {
    margin-top: 65px;
  }
}
