.nav li a{
	color: #818181;
	font-family: Myriad Pro;
	font-size: 16px;
}
.nav-pills>li.active>a{
	background-color: #1F85E7;
}
.head-row{
	height: 66px;
	padding-top: 12px;
}
.logo_block{
	height: 534px;
	/*background-image: url(../img/baner.png);*/

}
.baner{
	position:absolute;
	left: 0;
	width:100%;
	z-index: -1;
}
.like{
	font-size: 53px;
	font-family: Myriad Pro;
	text-transform: uppercase;
	margin-top: 140px;
	color: #fff;
	position: absolute;
	left: 200px;
	animation: movetext 4s 2 ease-in-out;
}
a{
	text-decoration: none;
}
.btn-ok{
	width: 270px;
	height: 50px;
	background: #4DBE3A;
	border-radius: 12px;
	
}
.btn-ok:hover{
	box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.80);

}

.btn-ok a p{
	font-size: 35px;
	font-family: Myriad Pro;
	font-weight: bold;
	color: #fff;
	
}
.btn-ok a:hover, .btn-ok a:focus{
	text-decoration: none;
}
.block2{
	margin-top: 55px;
	animation: move  6s 3s 2 ease-in-out;
}

.row-text{
	margin-top: 210px;
	font-size: 26px;
}
.row-bottom p{
	font-size: 21px;
	color: #7E7C7C;
}
.footer p{
	font-size: 15px;
	color: #B1B1B1;
}
.footer{
	background: #414141;
	margin-top: 40px;
}
hr{
	margin-top: 320px;
}

@keyframes movetext{
	from {position: absolute; bottom: 170px; left: 200px; opacity: 0.0;}
	
	to {position: absolute; bottom: 233px; left: 200px; opacity: 1.0;}
}

@keyframes move{
	from {transform: rotate(0deg);}	
	to {transform: rotate(360deg);}
}
